{% extends 'layout/base.html.twig' %}
{% block title %}Index{% endblock %}
{% block content %}
    <h1>weekday of {{ year }}-{{ month }}-{{ day }} is {{ _embedded.weekday.weekday }}</h1>
{% endblock %}
